* {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'HelveticaNeue', 'Arial', sans-serif;
}

img {
  display: inline-block !important;
}

.btn {
  padding: 0 20px;
  line-height: 32px;
  border: none;
  font-size: 14px;
}

.btn-primary {
  background: #8e3138;
  border: 2px solid #8E3138;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #d24014 !important;
  border: 2px solid #d24014;
  box-shadow: none !important;
}

.btn-secondary {
  background: transparent;
  color: #8e3138;
  border: 2px solid #8E3138;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background: #d24014 !important;
  box-shadow: none !important;
}

header {
  padding: 10px 0;
  background: linear-gradient(143.13deg, #8F3239 11.25%, #A83B43 51.43%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .d-flex {
  align-items: center;
  justify-content: space-between;
}

header a {
  flex: 0 0 24px;
  margin: 0 10px 0 0;
}

header input {
  flex: 0 1 100%;
  border: none;
  border-radius: 4px;
  padding: 0 45px 0 15px;
  font-size: 14px;
  height: 34px;
  background: #fff url('../img/icon/search.svg') 95% center no-repeat;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  overflow: auto;
  background: linear-gradient(143.13deg, #8F3239 11.25%, #A83B43 51.43%);
  padding: 20px;
  color: #fff;
  height: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: none;
}

nav .close {
  text-shadow: none;
  color: #fff;
  opacity: 1;
  font-weight: 100;
  font-size: 24px;
}

nav .nav-header {
  margin: 0 0 50px;
}

nav ul {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 40px;
}
nav ul li {
  margin: 0 0 10px;
}
nav ul li a {
  display: flex;
  align-items: center;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none !important;
}
nav ul li a img {
  margin: 0 10px 0 0;
}
nav ul li a span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #8f3239;
  margin: 0 0 0 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}
nav ul ul {
  padding: 0 27px;
  margin: 10px 0 30px;
  display: none;
}
nav ul ul li {
  margin: 0 0 5px;
}
nav ul ul li a {
  font-weight: 500;
  font-size: 14px;
}
nav ul a.dd:after {
  content:'';
  border: 5px solid transparent;
  border-top-color: #fff;
  margin: 4px 0 0 auto;
}
nav ul a.dd.active:after {
  transform: rotate(180deg);
  margin: 0 0 6px auto;
}


main {
  padding-top: 70px;
  padding-bottom: 40px;
}

.slick-main {}

.slick-main__items {
  min-height: 250px;
  border-radius: 4px;
}

.slick-main__items img {
  width: 100%;
}

.slick-main .slick-dots {
  position: absolute;
  bottom: 20px;
}

.slick-main .slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  color: #fff !important;
}

.title {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  margin: 0;
  font-size: 21px;
}

.title h2 {
  margin: 0;
  font-size: 21px;
}

.title .back {
  margin: 0;
  font-size: 18px;
  background: url('../img/icon/back.svg') left center no-repeat;
  padding-left: 15px;
}

.title a {
  font-size: 14px;
  color: #000;
}

.title-sm {
  align-items: flex-end;
}

.title h3 {
  font-size: 18px;
  margin: 0;
}

.title h4 {
  font-size: 15px;
  margin: 0;
}

.title p {
  font-size: 12px;
  color: #888;
  margin: 0;
}

.slick-card {
  margin: 0 0 20px;
}

.slick-card .slick-prev:before {
  display: none;
}

.slick-card .slick-prev {
  z-index: 4;
  width: 30px;
  height: 30px;
  background: #fff url('../img/icon/angle.svg') center no-repeat;
  border-radius: 30px;
  left: -10px;
  border: 1px solid #c0c0c0;
  transform: rotate(180deg) translateY(50%);
  font-size: 0px;
  margin: 0;
}

.slick-card .slick-next:before {
  display: none;
}

.slick-card .slick-next {
  z-index: 2;
  z-index: 2;
  width: 30px;
  height: 30px;
  background: #fff url('../img/icon/angle.svg') center no-repeat;
  border-radius: 30px;
  right: -10px;
  border: 1px solid #c0c0c0;
  font-size: 0px;
  margin: 0;
}

.slick-card .slick-list {
  margin: 0 -5px;
}

.slick-card .card-product {
  margin: 0 5px;
}

.card-product {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #f4f4f4;
  margin: 0 0 10px;
}

.card-product__image {
  height: 120px;
  background-size: cover;
  background-position: center;
  position: relative;

}

.card-product__tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-product__tags span {
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
  margin: 0 0 4px;
  border-radius: 2px;
}

.card-product__tags span.article {
  background: #8e3138;
}

.card-product__tags span.new {
  background: #318e40;
}

.card-product__fav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-product__fav a {}

.card-product h3 {
  padding: 10px 10px 0;
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.5;
}

.card-product__info {
  padding: 0 10px;
  margin: 0 0 10px;
}

.card-product__info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 5px;
  border-bottom: 1px solid #e4e4e4;
}

.card-product__info div p {
  font-size: 11px;
  margin: 0;
}

.card-product__available {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 15px;
}

.card-product__available div {
  font-size: 11px;
  padding-right: 15px;
  margin: 0 20px 0 0;
}

.card-product__available div.a5 {
  background: url('../img/icon/a5.svg') right center no-repeat;
}

.card-product__available div.a3 {
  background: url('../img/icon/a3.svg') right center no-repeat;
}

.card-product__price {
  padding: 0 10px;
}

.card-product__price strong {
  color: #8E3138;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card-product__price p {
  color: #707070;
  font-size: 11px;
}

.card-product__cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-product__cart form {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 38px;
  border-radius: 4px;
}

.card-product__cart form a {
  width: 36px;
  color: #000;
  text-align: center;
}

.card-product__cart form input {
  width: 100%;
  text-align: center;
  background: none;
  border: none;
}

.card-product__cart .btn-icon {
  flex: 0 0 35%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.news-item {
  margin: 0 0 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #f4f4f4;
  padding: 15px;
}

.news-item span {
  display: inline-block;
  width: 100%;
  font-size: 11px;
  color: #828282;
  margin: 0 0 10px;
}

.news-item strong {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 20px;
}

.news-item p {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 20px;
}

.news-item a {
  color: #8E3138;
  font-size: 14px;
}

.order-item {
  margin: 0 0 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #f4f4f4;
  padding: 15px 15px 20px;
}

.order-item__header {
  margin: 0 0 10px;
}

.order-item__header strong {
  display: inline-block;
  width: 100%;
  font-size: 11px;
  color: #333;
}

.order-item__header p {
  color: #828282;
  font-size: 14px;
  margin: 0;
}

.order-item__info {
  margin: 0 0 20px;
}

.order-item__info div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 5px;
}

.order-item__info span {
  flex: 0 0 50%;
  font-size: 11px;
  border-bottom: 1px solid #e5e5e5;
}

.order-item__info p {
  flex: 0 0 50%;
  font-size: 14px;
  margin: 0;
}

.order-item__info p.fail {
  font-weight: 600;
  color: #8E3138;
}

.order-item__info p.success {
  font-weight: 600;
  color: #3E8138;
}

.order-item__gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.order-item__gallery .img {
  width: 55px;
  height: 45px;
  margin: 0 10px 10px 0;
  background-size: cover;
  background-position: center;
}

.row {
  counter-reset: num;
}

.order-item a {
  color: #8e3138;
  font-size: 14px;
}

.order-item__item {
  margin: 0 0 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #f4f4f4;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.order-item__item-img {
  flex: 0 0 45%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.order-item__item-img span {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
  margin: 0 0 4px;
  border-radius: 2px;
  background: #8e3138;
  margin-left: 25px;
}

.order-item__item-img span:before {
  content: counter(num);
  counter-increment: num;
  position: absolute;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
  margin: 0 0 4px;
  border-radius: 2px;
  background: #8e3138;
  left: -25px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  width: 20px;
}

.order-item__item-img a {
  position: absolute;
  top: 10px;
  right: 10px;
}

.order-item__item-text {
  flex: 0 0 55%;
  padding: 10px;
}

.order-item__item-text h3 {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 10px;
  font-weight: 600;
}

.order-item__item-price {
  margin: 0 0 15px;
}

.order-item__item-price span {
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  color: #8E3138;
}

.order-item__item-price div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.order-item__item-price div strong {
  font-size: 15px;
  display: inline-block;
  margin: 0 15px 0 0;
  color: #8E3138;
}

.order-item__item p {
  margin: 0;
  font-size: 12px;
}

.order-list {
  margin: 5px 0 0;
}

.order-list .order-item__info {
  margin: 0;
}

.present-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #f4f4f4 url('../img/icon/download.svg') right center no-repeat;
  padding: 20px 80px 20px 20px;
}

.present-item__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 10px;
}

.present-item__header p {
  font-size: 14px;
  color: #000;
  margin: 0 20px 0 0;
}

.present-item__header span {
  color: #828282;
  font-size: 13px;
}

.present-item strong {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.news-wrapper {
  margin: 20px 0 40px;
}

.news-wrapper h1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px;
}

.news-wrapper img {
  width: 100%;
  margin: 0 0 20px;
}

.news-wrapper p {
  font-size: 14px;
  line-height: 1.6;
}

.news-wrapper strong {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  line-height: 1.6;
  margin: 0 0 10px;
}

.notify-item {
  padding: 15px;
  border-bottom: 1px solid #f2f2f2;
  display: inline-block;
  background: url('../img/icon/left.svg') right center no-repeat;
  width: 97%;
}

.notify-item.new strong {}

.notify-item.new strong:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 12px;
  background: #8e3138;
  left: -15px;
  top: 50%;
  margin-top: -5px;
}

.notify-item strong {
  position: relative;
  font-size: 16px;
  color: #000;
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
}

.notify-item span {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
  color: #828282;
  font-size: 11px;
}

.notify-item p {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  margin: 0;
}

.dash-link {
  display: inline-block;
  width: 100%;
  color: #8e3138;
  border: 1px dashed #8e3138;
  border-radius: 4px;
  margin: 0 0 10px;
  line-height: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.text-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 10px;
}

.text-line img {
  margin: 0 20px 0 0;
  flex: 0 0 16px;
}

.text-line p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.address-item {
  border-radius: 4px;
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 0 10px;
}

.address-item img {}

.address-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.address-item div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.address-item div a {
  margin: 0 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.address-item div a.edit {
  background: #e0e0e0;
}

.address-item div a.remove {
  background: #8e3138;
}

.banner {
  margin: 0 0 20px;
  padding: 20px;
  border-radius: 4px;
  font-size: 12px;
  background: #d4dde7;
  position: relative;
}

.banner p {
  margin: 0;
}

.banner a {
  position: absolute;
  top: 5px;
  right: 9px;
  color: #000;
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .prev {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.pagination .next {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.pagination ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.pagination ul li {
  width: 30px;
  height: 30px;
  border: 1px solid #c4c4c4;
  margin: 0 -1px 0 0;
}

.pagination ul li:first-of-type {
  border-radius: 4px 0 0 4px;
}

.pagination ul li:last-of-type {
  border-radius: 0 4px 4px 0;
}

.pagination ul li a {
  font-size: 14px;
  color: #8E3138;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination ul li a.active {
  background: #8E3138;
  color: #fff;
}

.pagination ul li span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #848484;
}

.cart-float {
  position: fixed;
  z-index: 99;
  top: calc(100vh - 40px);
  left: 0;
  width: 100%;
  background: #8e3138;
  border-radius: 4px 4px 0 0;
  line-height: 40px;
  color: #fff;
  text-align: center;
}

.cart-float a {
  text-decoration: none;
}

.cart-float p {
  font-size: 14px;
  margin: 0;
  color: #fff;
}

.banner-link {
  display: inline-block;
  padding: 20px;
  font-size: 21px;
  line-height: 1.2;
  background-size: cover;
  text-decoration: none;
  width: 100%;
  color: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 0 0 10px;
}

.order-item__item-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-item__item-action div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.order-item__item-action div a {
  margin: 0 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.order-item__item-action div a.remove {
  background: #e4e4e4;
}

.order-item__item-action div a.remove img {
  filter: brightness(0);
}

.order-item__item .card-product__cart {
  justify-content: flex-start;
}

.order-item__item .card-product__cart form {
  flex: 0 0 90%;
}

.order-item__item .card-product__cart a {
  width: 36px;
  margin: 0;
}

.label {
  display: inline-block;
  margin: 0 0 20px;
  width: 100%;
}

.label label {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.label input[type="text"] {
  width: 100%;
  height: 45px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 0 10px;
  font-size: 14px;
}

.label input[type="date"] {
  width: 100%;
  height: 45px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 0 10px;
  font-size: 14px;
}

.label select {
  width: 100%;
  height: 45px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 0 10px;
  font-size: 14px;
}

.label textarea {
  width: 100%;
  height: 85px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 14px;
}

.label-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 20px;
}

.label-group label {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 30px 0 0;
}

.label-group input {
  margin: 0 10px 0 0;
}

.label-group p {
  font-size: 12px;
  margin: 0;
}

.label a {
  font-size: 14px;
  color: #8e3138;
}

form .btn {
  line-height: 48px;
  width: 100%;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-body {
  padding: 15px;
}

.modal .title a {
  text-decoration: none !important;
  font-size: 18px;
}

.modal .card-product {
  border: none;
  background: none;
}

.modal .card-product__image {
  height: 240px;
  margin: 0 0 20px;
}

.modal .card-product__price p {
  margin: 0 0 15px;
}

.modal .card-product__price {
  margin: 0 0 25px;
}

.modal .card-product__cart form {
  border: 1px solid #c4c4c4;
  max-width: 120px;
  height: 36px;
  margin: 0 15px 0 0;
}

.modal .card-product__cart {
  justify-content: flex-start;
}

.modal .card-product__cart .btn {
  margin-bottom: 0;
}

.modal .card-product__cart input {
  height: 36px;
}

.modal .title {
  margin: 0 0 30px;
}

.modal form {}

.modal form label {
  width: 100%;
  margin: 0 0 15px;
  position: relative;
}

.modal form label select,
.modal form label input {
  width: 100%;
  height: 52px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 0 15px;
}

.modal form label [type="text"] {
  padding-top: 10px;
}

.modal form label [type="checkbox"],
.modal form label [type="radio"] {
  width: auto;
  height: auto;
}

.modal form label span {
  position: absolute;
  left: 15px;
  top: 50%;
  color: #c4c4c4;
  transform: translateY(-50%);
  transition: all .2s linear;
}

.modal form label.active span,
.modal form label input:focus+span {
  top: 25%;
  font-size: 9px;
}

.modal .label-group {
  flex-wrap: wrap;
}

.modal .label-group label {
  width: auto;
  flex: 0 0 auto;
  margin: 0 30px 0 0;
}

.modal .label-group label.w-100 {
  margin: 0 0 10px;
}

.modal .label-group label p {
  font-size: 12px;
  margin: 0;
  width: auto;
}

.modal .label-group p {
  width: 100%;
  font-size: 18px;
  margin: 0 0 10px;
}

.modal .label-group a {
  color: #a4a4a4;
  font-size: 12px;
}

.modal .file-add {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 0 10px;
}

.modal .file-add a {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #c4c4c4;
  border-radius: 12px;
  margin: 0 10px 0 0;
}

.modal .file-add p {
  margin: 0;
  font-size: 14px;
  color: #000;
}

.modal [type="file"] {
  display: none;
}

.modal [type="file"]+p {
  font-size: 16px;
  text-decoration: underline;
  color: #a4a4a4;
  background: url('../img/icon/attach.svg') left center no-repeat;
  padding-left: 30px;
}

.form-prod-list {
  margin: 0 0 30px;
}

.form-prod-list div {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.6;
  border-bottom: 1px solid #e2e2e2;
}

.form-prod-add {
  margin: 0 0 30px;
}

.form-prod-add__item {
  font-size: 14px;
  line-height: 1.6;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}

.form-prod-add__item p {}

.form-prod-add__item>div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-prod-add__item .form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c4c4c4;
  background: #f4f4f4;
  border-radius: 4px;
  margin: 0 10px 0 0;
}

.form-prod-add__item .form a {
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.form-prod-add__item .form input {
  height: 30px;
  border: none;
  text-align: center;
  background: transparent;
  width: 40px;
}

.form-prod-add__item .btn {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

.form-prod-add__item .btn img {
  width: 18px;
}

.modal .btn {
  margin: 0 0 20px;
}

.search-modal {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 10px 60px -40px rgba(0, 0, 0, 0.6);
  display: none;
}

.search-modal a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  border-bottom: 1px solid #e4e4e4;
}

.search-modal a:last-of-type {
  border-bottom: none;
}

.search-modal a .img {
  width: 40px;
  height: 30px;
  background-size: cover;
  margin: 0 15px 0 0;
}

.slick-card .slick-dots {
  position: static;
}
.slick-card .slick-dots button:before {
  color: #000 !important;
}